<div class="navbar flex">
    <div class="logo">
        <img src="/img/app-logo.png" alt="logo of a mosque in a location logo">
    </div>

    <!-- Icone du menu burger -->
    <div id="burger-icon" class="burger-icon">
        ☰
    </div>

    <!-- Menu de navigation -->
    <div id="nav-menu" class="nav">
        <ol>
            <a href="{{ path('app_home') }}">Accueil</a>
        </ol>
        
        {% if is_granted('ROLE_ADMIN') %}
            <ol>
                <a href="{{ path('app_user_index') }}">Utilisateurs</a>
            </ol>
            <ol>
                <a href="{{ path('app_user_index') }}">Les mosquées</a>
            </ol>
        {% endif %}

        {% if app.user %}
            <ol>
                <a href="{{ path('app_user_profile', { 'id': app.user.id }) }}">Profil</a>
            </ol>
        {% endif %}

        <ol>
            <a href="{{ path('app_mosque') }}">Mosqué</a>
        </ol>
        <ol>
            <a href="{{ path('app_namaz') }}">Suivi Prière</a>
        </ol>

        {% if app.user %}
            <ol>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </ol>
        {% else %}
            <ol>
                <a href="{{ path('app_login') }}">Connexion</a>
            </ol>
        {% endif %}
    </div>
</div>

<script>
    // Gestion du menu burger
    document.addEventListener("DOMContentLoaded", function() {
        const burgerIcon = document.getElementById('burger-icon');
        const navMenu = document.getElementById('nav-menu');

        burgerIcon.addEventListener('click', () => {
            navMenu.classList.toggle('nav-menu-active');
        });
    });
</script>
